<%- include('partials/header') %>
<section>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://meinarztbedarf.com/cdn/shop/articles/iStock-1479800728_1200x600_crop_center.jpg?v=1714726393" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="font-weight-bold">Alchol,Appetizer&Firends</h5>
              <p>Have a perfect life by drinking together with firends</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://www.abouttimemagazine.co.uk/wp-content/uploads/2021/09/117114994_2969700419826244_8160164651970573468_n-e1632775614467-1200x600.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="font-weight-bold">Alchols</h5>
              <p>Over drinking alchols mignt be bad. So drink normally and speak more.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://www.instacart.com/company/wp-content/uploads/2021/09/finger-food.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="font-weight-bold">Appetizers</h5>
              <p>If you only drink alchol, you are stupid. If you only eat appertizer, then you are an evil </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>



<%- include('partials/footer') %>